.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1 {
  color: var(--neon-green);
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 4.08571px;
  color: var(--neon-green)
}

main {
  background-color: var(--dark-grayish-blue);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 25px 15px 75px 15px;
  width: 540px;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
}

q.advice-quote {
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.3px;
  color: var(--light-cyan);
  padding: 25px;
  display: block;
}

/* Media Query for Mobile Devices */
@media (min-width: 375px) and (max-width: 999px) {

  main {
    width: 343px;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1000px){

  main {
    width: 540px;
  }
}

div.next-quote {
  background: no-repeat url('./images/icon-dice.svg');
  background-position: center;
  background-color:  hsl(150, 100%, 66%);
  background-size: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  cursor: pointer;
  width: 64px;
  height: 64px;
}

div.next-quote:hover {
  box-shadow: 0 0 25px  var(--neon-green);
  cursor: pointer;
}

div.error-message, div.loading-message {
  margin: 10px;  
  padding: 12px;
  border-radius: 10px;
  width: 100%;
}

div.error-message {
  color: #D8000C;
  background-color: #FFD2D2;
  border: 1px dotted #D8000C;
}

div.loading-message {
  color: #00529B;
  background-color: #BDE5F8;
  border: 1px dotted #00529B;
}

div.error-message i, div.loading-message i {
  margin-right: 10px;
}